/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

.kontejner{
	display: grid;
	gap: 20px;
	grid-template-columns:200px 1fr 250px;
	grid-template-rows: 200px auto 100px;
}

.hlavicka {
	grid-column: span 3;

}
.sloupec.levy {
	grid-column: 1;
	grid-row: 2; 
}

.sloupec.paticka {
	grid-column: span 3;
}
