/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

.kalendar {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	list-style:none;
	text-align: center;
	gap: 2px;
	padding: 0;
	
}

.zahlavi {
	background-color: tomato;
	list-style-type:none;
	color: white;
}

.predchozi,
.nasledujici {
	background-color: rgb(211, 211, 211);
	color: rgb(122, 122, 122);
}

li {
	border: 1px solid rgb(211, 211, 211);
	font-size: 16px;
	color: rgb(71, 71, 71);
	/* line-height: 48px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* line-hight - nastavim velikost radkovani a pismo bude uprostred -(50 - 1 border - 1 border */