/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	background-color: #e5e5e5;
}

/* ---------------------------------------------------- */

.galerie {
	display: grid;
	grid-template-columns: repeat(5, minmax(150px, 250px)) ;
	gap: 10px;
}
figure {
	padding: 4px;
	background-color: white;
	text-align: center;
	margin:0;
}

.galerie img {
	width: 100%;
	/* height: auto;
	object-fit: cover; */
}