/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font: 16px/1.5 sans-serif;
	margin: 0;
}

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.grid {
	height: 100vh; /* nastavíme výšku gridu přes celou stránku */
display: grid;
grid-template-columns: 150px 1fr 150px;
grid-template-rows: 150px auto 150px;
}

header {
	grid-column: 1 / span 3;
}

footer {
	grid-column: 1 / span 3;
}

