/* intuitivnejsi box-sizing */
html { box-sizing: border-box;}
*, ::after, ::before { box-sizing: inherit; }

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ---------------------------------------------------- */

.obr {
	width: 150px;
	height: 300px;
	object-fit: cover;
}

/*
	Object-fit: cover / contain
	Přizpůsobení obrázku do jeho nastavené velikosti.
	Chová se jako background-size: cover (nebo contain),
	ale místo obrázků nastavených jako pozadí to provádí
	na obrázcích vložených do HTML jako <img>.

	Obrázek *MUSÍ* mít nastavenou vlastnost width a height,
	jinak object-fit nebude fungovat.
*/
